{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h4>Registre-se!</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="{{ user_form.username.id_for_label }}" class="font-weight-bold">Usuário:</label>
                            {{ user_form.username|safe }}
                            <div class="text-danger">
                                {{ user_form.username.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ user_form.password1.id_for_label }}" class="font-weight-bold">Senha:</label>
                            {{ user_form.password1|safe }}
                            <div class="text-danger">
                                {{ user_form.password1.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ user_form.password2.id_for_label }}" class="font-weight-bold">Confirmação de Senha:</label>
                            {{ user_form.password2|safe }}
                            <div class="text-danger">
                                {{ user_form.password2.errors }}
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-success btn-block" value="Cadastrar">
                        </div>
                    </form>
                    <p class="text-center mt-3">Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
