{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white text-center">
                    <h4>Detalhes do Evento</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Artista:</dt>
                        <dd class="col-sm-8">{{ evento.artista }}</dd>

                        <dt class="col-sm-4">Data:</dt>
                        <dd class="col-sm-8">{{ evento.data }}</dd>

                        <dt class="col-sm-4">Horário:</dt>
                        <dd class="col-sm-8">{{ evento.horario }}</dd>

                        <dt class="col-sm-4">Descrição:</dt>
                        <dd class="col-sm-8">{{ evento.descricao }}</dd>
                    </dl>
                    <a href="{% url 'evento_update' evento.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'evento_list' %}" class="btn btn-secondary">Voltar à Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}