{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Cadastrar Novo Evento</h1>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="{{ form.artista.id_for_label }}">Artista:</label>
                        {{ form.artista }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.data.id_for_label }}">Data:</label>
                        {{ form.data }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.horario.id_for_label }}">Horário:</label>
                        {{ form.horario }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                        {{ form.descricao }}
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
