{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-success shadow-lg">
                <div class="card-header bg-success text-white text-center">
                    <h4 class="m-0">Detalhes do Evento</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Artista:</dt>
                        <dd class="col-sm-8">{{ evento.artista }}</dd>

                        <dt class="col-sm-4 font-weight-bold">Data:</dt>
                        <dd class="col-sm-8">{{ evento.data }}</dd>

                        <dt class="col-sm-4 font-weight-bold">Horário:</dt>
                        <dd class="col-sm-8">{{ evento.horario }}</dd>

                        <dt class="col-sm-4 font-weight-bold">Descrição:</dt>
                        <dd class="col-sm-8">{{ evento.descricao }}</dd>
                    </dl>
                    <div class="text-center">
                        <a href="{% url 'evento_update' evento.id %}" class="btn btn-success mr-2">Editar</a>
                        <a href="{% url 'evento_list' %}" class="btn btn-outline-success">Voltar à Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
